<template>
    <div class="television">
        <transition name="television">
            <video v-show="videoIndex" :src="videos[`brief_${videoIndex}`]" ref="video" autoplay muted playsinline></video>
        </transition>

        <transition name="television">
            <Logo v-if="!videoIndex"></Logo>
        </transition>
    </div>
</template>

<script>
import Logo from '../../components/General/Logo';
import PubSub from '../../controllers/PubSub';
import conf from '../../config/conf';
import { BRIEF_VIDEOS } from '../../../public/videos';

export default {
    components: {Logo},
    data() {
        return {
            videoIndex: '',
            videos: BRIEF_VIDEOS,
        }
    },
    mounted() {
        this.$refs.video.addEventListener('ended', this.onEnded, false);
        PubSub.sub(conf.mqttTopic_briefing_tv_src, this.setSrc);
    },
    methods: {
        setSrc(e) {
            this.videoIndex = e.payload
            console.log(this.videoIndex);
        },
        onEnded() {
            const length = Object.keys(this.videos).length;
            const index = Number(this.videoIndex);

            length - 1 === index
                ? setTimeout(() => { this.videoIndex = '' }, 300)
                : this.videoIndex = `${index + 1}`;
        }
    }
}
</script>

<style lang="scss" scoped>
    $animation-duration: .15s;

    .television {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: black;

        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .television-enter-active {
        transition: all $animation-duration ease;
    }
    .television-leave-active {
        transition: all $animation-duration linear;
    }
    .television-enter,
    .television-leave-to {
        opacity: 0;
    }
</style>
