<template>
    <div class="macrogauges">

        <div class="content">
            <transition-group name="fade">
                <div key="logo" class="logo" v-if="!scanmode && !showGauge"/>
            </transition-group>
            <div class="gauges">

            </div>
            <transition-group name="fade">
                <div key="scans" class="scans" v-if="scanmode">

                    <transition-group name="fade" >
                        <div key="bg1" class="bg bg1" v-if="1"/>
                        <div key="bg2" class="bg bg2" v-if="1"/>
                        <div key="bg3" class="bg bg3" v-if="1"/>
                        <div key="scannnnn">
                            <div key="scanmode" class="bg scanmode" v-if="scaning"/>
                            <div key="scanmode2" class="bg scanmode2" v-if="scaning"/>
                        </div>
                        <div key="12412EZAQSD1">
                            <transition-group key="12412EZAQSD" name="bounce">
                                <div :key="'label_'+picto.label" v-if="picto && !scaning && !showHint" class="label" >{{picto.label}}</div>
                                <img :key="'picto_'+picto.label" v-if="picto && !scaning && !showHint" class="picto" :src="picto.icon"/>
                                <div :key="'hint_'+picto.label" v-if="picto && !scaning && showHint" class="hint" ><div>{{picto.hint}}</div></div>
                            </transition-group>
                        </div>

                        <div key="scanText" class="bg text" v-if="scaning">SCAN</div>
                    </transition-group>
                </div>


                <div key="gauge" id="gauge3" class="gauge-container three" v-show="showGauge">
                    <span class="label">.</span>
                </div>
                <img :key="'picto_'+activeButton.label" v-if="activeButton && showGauge" class="picto-gauge" :src="activeButton.icon"/>
                <div :key="'label_'+activeButton.label" v-if="activeButton && showGauge" class="label-gauge" >{{activeButton.label}}</div>
            </transition-group >
        </div>

        <img class="preloaders" v-for="p in pictos" :key="p.id" :src="p.icon" />
        <img class="preloaders" :src="require('@/assets/circles/Btn_sci-fi button04_h.png')" />
        <img class="preloaders" :src="require('@/assets/circles/Btn_sci-fi_button03_n.png')" />

    </div>
</template>

<script lang="ts">
import { Component, Inject, Model, Prop, Vue, Watch, Provide } from "vue-property-decorator";
import conf from '../../config/conf';
import PubSub, { MqttEvent } from '../../controllers/PubSub';
var Gauge = require("svg-gauge");

@Component({
    components:{}
})
export default class MacroGauges extends Vue {

    public pupitreId:"pupitregauche"|"pupitredroit" = "pupitredroit";

    public pictos = [
        {id:"0", icon:require("@/assets/icons-macro/Moulin à eau.png"), label:"Moulin à eau", hint:"Au bord d’une rivière."},
        {id:"1", icon:require("@/assets/icons-macro/Extracteur de charbon.png"), label:"Extracteur de charbon", hint:"Sur une mine de charbon."},
        {id:"2", icon:require("@/assets/icons-macro/Puits de pompage .png"), label:"Extracteur de pétrole et de gaz", hint:"Sur un gisement de pétrole et de gaz."},
        {id:"3", icon:require("@/assets/icons-macro/Raffinerie.png"), label:"Raffinerie", hint:"Près de la demande en carburant."},
        {id:"4", icon:require("@/assets/icons-macro/Terminaux pétroliers-01.png"), label:"Terminaux pétroliers", hint:"Au bord de l’océan, sur 2 continents."},
        {id:"5", icon:require("@/assets/icons-macro/Terminaux pétroliers-01.png"), label:"Terminaux pétroliers", hint:"Au bord de l’océan, sur 2 continents."},
        {id:"6", icon:require("@/assets/icons-macro/Terminaux charbonniers-01.png"), label:"Terminaux charbonniers", hint:"Au bord de l’océan, sur 2 continents."},
        {id:"7", icon:require("@/assets/icons-macro/Terminaux charbonniers-01.png"), label:"Terminaux charbonniers", hint:"Au bord de l’océan, sur 2 continents."},
        {id:"8", icon:require("@/assets/icons-macro/Centrale thermique-01.png"), label:"Centrale thermique", hint:"Près de la demande en électricité."},
        {id:"9", icon:require("@/assets/icons-macro/Centrale hydroélectrique.png"), label:"Centrale hydroélectrique", hint:"Au bord d’une rivière."},
        {id:"10", icon:require("@/assets/icons-macro/Puits de pompage .png"), label:"Extracteur de pétrole et de gaz", hint:"Sur un gisement de pétrole et de gaz."},
        {id:"11", icon:require("@/assets/icons-macro/Centrale hydroélectrique.png"), label:"Centrale hydroélectrique", hint:"Au bord d’une rivière."},
        {id:"12", icon:require("@/assets/icons-macro/Ferme éolienne terrestre.png"), label:"Ferme éolienne terrestre", hint:"Sur un continent, dans une zone de fort vent."},
        {id:"13", icon:require("@/assets/icons-macro/Ferme éolienne terrestre.png"), label:"Ferme éolienne terrestre", hint:"Sur un continent, dans une zone de fort vent."},
        {id:"14", icon:require("@/assets/icons-macro/Centrale biomasse.png"), label:"Centrale biomasse", hint:"Sur un continent, près des consommateurs."},
        {id:"15", icon:require("@/assets/icons-macro/Centrale geothermique-01.png"), label:"Centrale geothermique", hint:"Sur un continent."},
        {id:"16", icon:require("@/assets/icons-macro/Extracteur d’uranium-01.png"), label:"Extracteur d’uranium", hint:"Sur une mine d’uranium."},
        {id:"17", icon:require("@/assets/icons-macro/Machine d’enrichissement d’uranium-01.png"), label:"Machine d’enrichissement d’uranium", hint:"A proximité d’une centrale nucléaire."},
        {id:"18", icon:require("@/assets/icons-macro/Centrale de retraitement des déchets radioactifs-01.png"), label:"Centrale de retraitement des déchets radioactifs", hint:"A proximité d’une centrale nucléaire."},
        {id:"19", icon:require("@/assets/icons-macro/Stockage des déchets radioactifs-01.png"), label:"Stockage des déchets radioactifs", hint:"A proximité d’une centrale de retraitement."},
        {id:"20", icon:require("@/assets/icons-macro/centrale nucléaire-01.png"), label:"Centrale nucléaire", hint:"Au bord d’une rivière ou d’un océan."},
        {id:"21", icon:require("@/assets/icons-macro/Usine marémotrice-01.png"), label:"Usine marémotrice", hint:"A l’embouchure d’un cours d’eau."},
        {id:"22", icon:require("@/assets/icons-macro/Ferme solaire-01.png"), label:"Ferme solaire", hint:"Sur un continent, dans une zone de fort soleil."},
        {id:"23", icon:require("@/assets/icons-macro/Centrale houlomotrice-01.png"), label:"Centrale houlomotrice", hint:"Au milieu de l’océan."},
        {id:"24", icon:require("@/assets/icons-macro/Ferme solaire-01.png"), label:"Ferme solaire", hint:"Sur un continent, dans une zone de fort soleil."},
        {id:"25", icon:require("@/assets/icons-macro/Ferme éolienne marine.png"), label:"Ferme éolienne marine", hint:"Au milieu de l’océan, dans une zone de fort vent."},
        {id:"26", icon:require("@/assets/icons-macro/Usine hydrolienne-01.png"), label:"Usine hydrolienne", hint:"Au milieu de l’océan."},
        {id:"27", icon:require("@/assets/icons-macro/Ferme éolienne marine.png"), label:"Ferme éolienne marine", hint:"Au milieu de l’océan, dans une zone de fort vent."},
    ];

    buttonsConfig={
        "pupitregauche":[
            {id:"", icon:require("@/assets/icons-macro/Centrale thermique-01.png"), label:"Centrale thermique"},
            {id:"", icon:require("@/assets/icons-macro/Ferme éolienne terrestre.png"), label:"Ferme éolienne terrestre"},
            {id:"", icon:require("@/assets/icons-macro/Centrale geothermique-01.png"), label:"Centrale geothermique"},
            {id:"", icon:require("@/assets/icons-macro/Usine marémotrice-01.png"), label:"Usine marémotrice"},
            {id:"", icon:require("@/assets/icons-macro/Centrale houlomotrice-01.png"), label:"Centrale houlomotrice"},
            {id:"", icon:require("@/assets/icons-macro/Usine hydrolienne-01.png"), label:"Usine hydrolienne"},
        ],
        "pupitredroit":[
            {id:"", icon:require("@/assets/icons-macro/Centrale hydroélectrique.png"), label:"Centrale hydroélectrique"},
            {id:"", icon:require("@/assets/icons-macro/Centrale biomasse.png"), label:"Centrale biomasse"},
            {id:"", icon:require("@/assets/icons-macro/centrale nucléaire-01.png"), label:"Centrale nucléaire"},
            {id:"", icon:require("@/assets/icons-macro/Ferme solaire-01.png"), label:"Ferme solaire"},
            {id:"", icon:require("@/assets/icons-macro/Ferme éolienne marine.png"), label:"Ferme éolienne marine"},
            {id:"", icon:require("@/assets/icons-macro/Terminaux pétroliers-01.png"), label:"Terminaux pétroliers"},
        ]
    }
    public buttons = this.buttonsConfig[this.pupitreId].map((b)=>{return {dispo: false, on: false, rot:1, speed:0, lum:0, jauge:0, ...b}});


    public get scanmode(){
        return this.picto != null;
    }

    public scaning = false;

    public timeoutScan:any;
    public intervalShowHint:any;

    public get activeButton(){
        if(this.currentEncoder == null){
            return null;
        }
        if(this.currentEncoder<this.buttons.length){
            return this.buttons[this.currentEncoder];

        }
        return null;
    }

    public get gaugeValue(){
        if(this.activeButton){
            return this.activeButton.jauge;
        }
    }
    @Watch("gaugeValue")
    onGaugeChange(){
        this.gauge3.setValueAnimated(this.gaugeValue, 1.5);
    }


    public get showGauge(){

        if(this.scanmode){
            return false;
        }
        if(this.activeButton){
            return true
        }
        return false;
    }

    public setEncoder(ev:MqttEvent, command:string){
        [command] = ev.payload;

    }



    public get picto(){
        if(this.scanId == ""){
            return null;
        }

        return this.pictos.filter((picto)=>{
            return picto.id == this.scanId;
        })[0];
    }

    @Watch("picto")
    onPictoChange(){
        this.scaning = true;
        if(this.timeoutScan){
            clearTimeout(this.timeoutScan);
        }
        this.timeoutScan = setTimeout(()=>this.scaning=false, 2000)
    }

    showHint = false;

    @Watch("scaning")
    onScaningChange(){
        if(this.scaning == false){
            this.showHint = false;
            if(this.intervalShowHint){
                clearInterval(this.intervalShowHint);
            }
            this.intervalShowHint = setInterval(()=>this.showHint=!this.showHint, 2000)
        }
    }

    public gauge3:any;
    public scanId:string = "";

    public mounted():void {
        this.pupitreId = this.$route.params.pupitreId as any;
        this.gauge3 = Gauge(
            document.getElementById("gauge3"), {
                max: 5,
                value: 0
            }
        );

        //PubSub.sub(conf.mqttTopic_Pupitre_Encoder_Dispo(this.pupitreId), (ev:MqttEvent)=>{this.but(ev.props.boutonId).dispo = ev.payload=="1"})
        PubSub.sub(conf.mqttTopic_Pupitre_Encoder_OnOff(this.pupitreId), (ev)=>this.onOnOff(ev))
        //PubSub.sub(conf.mqttTopic_Pupitre_Encoder_Rot(this.pupitreId), (ev:MqttEvent)=>{this.buttons[ev.props.boutonId].rot = parseInt(ev.payload)})
        //PubSub.sub(conf.mqttTopic_Pupitre_Encoder_Speed(this.pupitreId), (ev:MqttEvent)=>{this.buttons[ev.props.boutonId].speed = parseInt(ev.payload)})
        //PubSub.sub(conf.mqttTopic_Pupitre_Encoder_Lum(this.pupitreId), (ev:MqttEvent)=>{this.buttons[ev.props.boutonId].lum = parseInt(ev.payload)})
        PubSub.sub(conf.mqttTopic_Pupitre_Jauge(this.pupitreId), (ev:MqttEvent) =>this.pupitreJauge(ev))
        PubSub.sub(conf.mqttTopic_Pupitre_Scan(this.pupitreId), (ev:MqttEvent)=>this.onScan(ev));

    }
    pupitreJauge(ev: MqttEvent): any {

        if(ev.props.boutonId<this.buttons.length){
            //this.currentEncoder = ev.props.boutonId;
            this.buttons[ev.props.boutonId].jauge = parseInt(ev.payload)

        }
    }
    currentEncoder:number|null = null;
    onScan(ev:MqttEvent){
        this.currentEncoder = null;
        this.scanId = ev.payload.toString();
    }
    public onOnOff(ev:MqttEvent){
        if(ev.payload == "0"){
            this.currentEncoder = null;
        }
        else{
            this.currentEncoder = ev.props.boutonId;
        }
    }

    public beforeDestroy():void {

    }






}
</script>

<style lang="scss">
.macrogauges{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    font-size:30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    overflow: hidden;

    .content{
        position: relative;
        background-image: $radial-gradient;
        width: 100vh;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo{
        position: absolute;
        background-size: auto 30%;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: middle;
        opacity:0.5;
        top:0;left:0;bottom:0;right: 0;
        background-image: url('~@/assets/logo/sage_white.png');
        animation: scaling 10s infinite ease;


    }

.picto-gauge{
        position: absolute;
        background-size: 100% 100%;
        width: 900px;
        height: 900px;
        vertical-align: middle;
        left: 70px;
        top: 70px;

}

.label-gauge{
    position: absolute;
    left: 260px; right: 260px;
    bottom: 60px;
    z-index: 3;
    color: white;
    height: 300px;
    font-size:60px;
}
.scans{
    font-size:60px;
    font-weight: bold;
    transition: opacity 0.5s ease;

    .picto{
        position: absolute;
        background-size: 100% 100%;
        width: 900px;
        height: 900px;
        vertical-align: middle;
        left: 70px;
        top: 70px;
    }
    .bg{
        position: absolute;
        background-size: 100% 100%;
        width: 900px;
        height: 900px;
        vertical-align: middle;
        left: 70px;
        top: 70px;

    }
    .text{

        position: absolute;
        top:450px;
        color: white;
        height: 100px;
        font-size: 130px;
        animation: scaling 3s infinite ease;

    }

    .label{
        position: absolute;
        left: 260px; right: 260px;
        bottom: 60px;
        z-index: 3;
        color: white;
        height: 300px;
    }

    .hint{
        position: absolute;
        top:0;left:0;bottom:0;right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 4;
        color: white;
        div{
            width: 500px;
        }
    }

    .bg1{
        animation: rotation 6s infinite linear;
        background-image: url('~@/assets/circles/Btn_sci-fi button04_h.png');
        opacity: 0.5;
    }

    .bg2{
        background-image: url('~@/assets/circles/Btn_sci-fi_button03_n.png');
        animation: anitrotation 10s infinite linear;

    }
    .bg3{
        background-image: url('~@/assets/circles/Btn_sci-fi_button03_n.png');
        animation: rotation 17s infinite linear;

    }
    .scanmode{
        background-image: url('~@/assets/circles/Btn_sci-fi_button03_n.png');
        animation: wtf 3s infinite ease;
        opacity: 0.5;
    }
    .scanmode2{
        background-image: url('~@/assets/circles/Btn_sci-fi_button03_n.png');
        animation: wtf 4s infinite ease;
        opacity: 0.5;
    }

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes wtf {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  100% {
    transform: scale(0) rotate(359deg);
  }
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1) ;
  }
}
@keyframes anitrotation {
    from {
        transform: rotate(359deg);
    }
    to {
        transform: rotate(0deg);
    }
}
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}


.scale-enter-active, .scale-leave-active {
  transition: all 2s;
  transform: scale(1);
}
.scale-enter, .scale-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: scale(0);
}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
//   50% {
//     transform: scale(1.1);
//     opacity: 1;
//   }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}



.gauge-container  {

    position: absolute;
    top: 50px; left: 70px; right: 200px; bottom: 0;

        .gauge{
            width:900px;
            .dial{

                stroke: #FFFFFF10;
                stroke-width: 9;
            }
            .value {
                stroke: rgb(61, 169, 241);
                stroke-dasharray: 36 2;
                stroke-width: 9;

            }
            .value-text{
                //fill: rgb(198, 232, 255);
                opacity:0;
            }
        }

}

.preloaders{
    width:0px;
    height: 0px;
    opacity:0;
    position:absolute;
    z-index: -1000;
}

}

</style>
