<template>
    <div class="television">
        <transition name="television">
            <div v-if="videoMode === 'on'">
                <img class="mute-icon" src="../../assets/views/living-room/television/mute.svg" alt="Mute">
                <video autoplay loop muted playsinline src="https://storage.coverr.co/videos/Up?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IjExNDMyN0NEOTRCMUFCMTFERTE3IiwiaWF0IjoxNTY5NTczMDEwfQ.IyoSMzvrL93n322yuf2eCU1cKnLezV3ix16aZ2IfDLo"></video>
            </div>
        </transition>
    </div>
</template>

<script>
import PubSub from '../../controllers/PubSub';
import conf from '../../config/conf';

export default {
    data() {
        return {
            videoMode: 'on'
        }
    },
    mounted() {
        PubSub.sub(conf.mqttTopic_salon_tv_mode, this.toggleTelevision)
    },
    methods: {
        toggleTelevision(e) {
            console.log(e);
            this.videoMode = e.payload
        }
    }
}
</script>

<style lang="scss" scoped>
    $animation-duration: .15s;

    .television {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: black;

        .mute-icon {
            $spacing: 4%;
            $size: 90px;

            position: absolute;
            right: $spacing;
            bottom: $spacing;
            width: $size;
            height: $size;
        }

        video {
            object-fit: cover;
            width: 100vw;
            height: 100vh;
        }
    }
    .television-enter-active {
        transition: all $animation-duration ease;
    }
    .television-leave-active {
        transition: all $animation-duration linear;
    }
    .television-enter,
    .television-leave-to {
        opacity: 0;
    }
</style>
