<template>
    <div class="thermostat__view">
        <div class="thermostat__content">
            <transition mode="out-in" name="translate">
                <div key="programmation" v-if="currentTab.id === 'programmation'">
                    <table class="thermostat__programmation__table">
                        <thead>
                        <tr>
                            <th></th>
                            <th v-for="day in days" :key="day">{{ day }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>7h-8h</td>
                            <td><UICheckbox v-model="programmationMatrix[0][0]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[1][0]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[2][0]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[3][0]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[4][0]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[5][0]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[6][0]"/></td>
                        </tr>
                        <tr>
                            <td>10h-14h</td>
                            <td><UICheckbox v-model="programmationMatrix[0][1]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[1][1]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[2][1]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[3][1]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[4][1]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[5][1]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[6][1]"/></td>
                        </tr>
                        <tr>
                            <td>14h-18h</td>
                            <td><UICheckbox v-model="programmationMatrix[0][2]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[1][2]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[2][2]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[3][2]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[4][2]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[5][2]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[6][2]"/></td>
                        </tr>
                        <tr>
                            <td>18h-23h</td>
                            <td><UICheckbox v-model="programmationMatrix[0][3]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[1][3]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[2][3]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[3][3]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[4][3]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[5][3]"/></td>
                            <td><UICheckbox v-model="programmationMatrix[6][3]"/></td>
                        </tr>
                        </tbody>
                    </table>
                    <button
                            class="thermostat__button"
                            @click="save"
                            value="Enregistrer"
                    >Enregistrer</button>
                </div>
                <ThermostatDrawable key="thermostat" :universeId="this.universeId" v-else-if="currentTab.id === 'temperature'"/>
            </transition>
        </div>
    </div>
</template>

<script lang="ts">
    import ThermostatDrawable from "@/components/Common/ThermostatDrawable.vue";
    import {Component} from "vue-property-decorator";
    import {mixins} from "vue-class-component"
    import ThermostatMixin from "@/mixins/thermostat"
    import UICheckbox from '@/components/Common/UI/UICheckbox.vue'

    @Component<Thermostat>({
    components: {UICheckbox, ThermostatDrawable },
})
export default class Thermostat extends mixins(ThermostatMixin) {
    public universeId = "1"
    public programmationMatrix = [
        [false, false, false, false], // Monday
        [false, false, false, false], // Tuesday
        [false, false, false, false], // Wednesday
        [false, false, false, false], // Thursay
        [false, false, false, false], // Friday
        [false, false, false, false], // Saturday
        [false, false, false, false] // Sunday
    ]
}
</script>
