<template>
    <div class="screen anagram">
        <span>{{ texts.anagram }}</span>
    </div>
</template>

<script>
    import { ANAGRAM_TEXTS } from '../../texts/common/database';

    export default {
        name: 'anagram-component',
        props: ['imgSrc'],
        data() {
            return {
                texts: ANAGRAM_TEXTS,
            }
        }
    }
</script>

<style lang="scss" scoped>
    .anagram {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: $title-xl;
    }
</style>
