<template>
    <div class="database">
        <div class="main" ref="main">
            <div class="nav-bar" ref="nav-bar">
                <div :class="{tab:true, selected:index==currentTabIndex, disabled:!isTabShown(index)}" v-for="(tab, index) in tabs" :key="index" @click="onTabClick(index)">
                    <span>{{tab}}</span>
                </div>
            </div>

            <div class="content" >
                <div class="title">{{title}}</div>
                <div class="page home" v-if="currentTabIndex==0">
                    <div v-if="homeTitle">{{homeTitle}}</div>
                    <div>{{homeText}}</div>
                    <div class="button_1" v-if="showLVButton" @click="playMelody">Écouter la mélodie</div>
                </div>

                <div class="page" v-if="currentTabIndex==1">
                    <div class="recos">
                        <div class="reco" v-for="(reco, ii) in recos" :key="ii">
                            <div class="desc">{{reco.desc}}</div><br>
                            <div class="hint">
                                <div class="icon">
                                    <font-awesome-icon :icon="chooseRandomIcon()" />
                                </div>
                                <div class="text">{{reco.hint}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page ecommerce" v-if="currentTabIndex==2">

                    <div class="product-types-bar">
                        <div class="product-category button_1"
                        :class="{'product-tab':true, 'button_1':true, active:index==currentProductIndex}"
                            v-for="(productsCategory, index) in productsCategories"
                            :key="productsCategory.name"
                            @click="currentCategoryIndex = index">
                            {{productsCategory.name}}
                        </div>
                    </div>
                    <div class="product-content">
                        <div class="product-tab-bar">
                            <div :class="{'product-tab':true, 'button_1':true, active:index==currentProductIndex}"
                                v-for="(product, index) in currentProductsCategory.products"
                                :key="product.title"
                                @click="onProductClick(index)">
                                Modèle {{index}}
                            </div>
                        </div>

                        <div class="product-desc" :key="currentProduct.title">
                            <div class="pannel-img">
                                <img :src="currentProduct.imgSrc"/>
                            </div>
                            <div class="pannel">
                                <h3 v-html="currentProduct.title"></h3>
                                <ul >
                                    <li v-for="(c,i) in currentProduct.caracteristics" :key="i">{{c}}</li>
                                    <li  v-if="currentProductsCategory.showClassBtn" @click="onClassClick"><div class="button_class">Afficher la classe</div></li>
                                </ul>
                            </div>
                            <div class="purchasse "  @click="onPurchasseClick">Acheter</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Inject, Model, Prop, Vue, Watch, Provide } from "vue-property-decorator";
import PubSub, { MqttEvent } from '@/controllers/PubSub';
import Logger from '../../utils/Logger';
import conf from '../../config/conf';
const icons = ["globe", "info-circle", "flag", "crosshairs", "map-marker", "map", "directions", "search", "eye", "fire"];
    import SoundPlayer from '../../config/SoundPlayer';

@Component({
    components:{}
})
export default class Database extends Vue {
    @Prop({default: '0'}) universeId?:string;

    public tabs = [
        'Accueil',
        'Recommandations',
        'E-Commerce',
    ]
    public locked = false;
    public productsCategories = conf.productsCategories;
    public recos = conf.recos;
    public currentTabIndex:number = 0;
    public currentCategoryIndex:number = 0;
    public currentProductIndex:number = 0;
    public numpadValue= "";
    public randomIcon = "";

    public get showLVButton(){
        if(this.currentAction  && this.currentAction.definition){
            return this.currentAction.definition.id == "salon-lv-mode-eco";
        }
    }

    public currentAction:any = {};


    public get title(){
        return this.tabs[this.currentTabIndex]
    }

    public get homeTitle(){
        if(this.currentAction  && this.currentAction.definition){
            return this.currentAction.definition.name;
        }
        return null;
    }

    public get homeText(){
        if(this.currentAction  && this.currentAction.definition){
            return this.currentAction.definition.homeText;
        }
        return "Utilisez le scan pour avoir plus d'information.";
    }
    
    
    public isTabShown(i:number):boolean{
        return true;
    }
    public chooseRandomIcon() {
        const idx = Math.floor(Math.random() * icons.length);
        return icons[idx];
    };

    currentProductType = 0;
    public get currentProductsCategory(){
        return this.productsCategories[this.currentCategoryIndex];
    }


    public get currentProduct(){
        return this.currentProductsCategory.products[this.currentProductIndex];
    }

    public mounted():void {
        conf.universeId = this.universeId;
        PubSub.sub(conf.mqttTopic_DatabaseTabClick, this.onTabSet );
        PubSub.sub(conf.mqttTopic_DatabaseProductClick, this.onProductSet );
        PubSub.sub(conf.mqttTopic_ActivitySet, this.onActivitySet );
        PubSub.sub(conf.mqttTopic_LockSet, this.onLockSet );
    }
    
    playMelody() {
        SoundPlayer.play('lv_melodie')
    }

    onTabClick(tab:number){
        Logger.log("onTabClick", tab)
        if(this.isTabShown(tab)) {
            this.currentTabIndex = tab;
            PubSub.pub(conf.mqttTopic_DatabaseTabClick, tab.toString());
        }
    }

    onProductClick(productId:number) {
        Logger.log("onProductClick", productId)
        this.currentProductIndex = productId;
        PubSub.pub(conf.mqttTopic_DatabaseProductClick, productId.toString());
    }

    onClassClick() {
        PubSub.pub(conf.mqttTopic_energy_label_index(this.currentCategoryIndex.toString()), this.currentProductIndex.toString());

    }

    onPurchasseClick() {
        Logger.log("onPurchasseClick")
        PubSub.pub(conf.mqttTopic_DatabaseProductPurchase, [this.currentCategoryIndex, this.currentProductIndex].join(" "));
    }


    onTabSet(event:MqttEvent) {
        Logger.log("onTabSet", event)
        this.currentTabIndex = parseInt(event.payload);
    }

    onProductSet(event:MqttEvent) {
        Logger.log("onProductSet", event)
        this.currentProductIndex = parseInt(event.payload);
    }

    onActivitySet(event:MqttEvent) {
        Logger.log("onActivitySet", event)
        this.currentAction = JSON.parse(event.payload);
    }


    onLockSet(event:MqttEvent) {
        Logger.log("onLockSet", event)
        this.locked == (event.payload == "0")
    }
}
</script>

<style scoped lang="scss">
    .database{
        color:white;
    }

    .main{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        padding:20px;
        display: flex;
        flex-direction: column;
        background-image: url('~@/assets/bg.png');
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .tab {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: url('~@/assets/Btn_LOGIN_textureless_n.png');
            background-size: 100% 100%;
            width:500px;
            height: 100px;
            margin: 0px 10px;
            padding: 10px 20px;
            text-align: center;
            vertical-align: middle;
            font-size: 40px;
            transition: all 0.1s ease-in-out;

            &.selected{
                background-image: url('~@/assets/Btn_LOGIN_textureless_p.png');
            }

            &:hover{
                transform: scale(1.03);
            }

            &.disabled{
                opacity: 0.5;
            }
        }
    }

    .content {
        font-size: 70px;
        background-image: url('~@/assets/window_1.png');
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin:10px 80px;
        padding: 30px 80px;

        .title {
            font-size: 50px;
            font-weight: bold;
            height: 100px;
        }

        .page {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            top: 30px;
            position: relative;

            &.home{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction:column;
                top: 0px;
                flex-grow:1;
                font-size:90px;
                padding-bottom : 60px;
                .homeTitle{
                    font-weight: bold;
                    padding-bottom:60px;
                }

            }
            .reco{
                font-size: 26px;
                width: 30%;
                margin: 0 0 14px 0;
                .desc {
                    float: left;
                    font-weight: bold;
                }
                .hint {
                    padding-top: 4px;
                    position: relative;
                    .text {
                        position: relative;
                        font-style: italic;
                        text-align: left
                    }
                    .icon {
                        float: left;
                        padding: 0 10px 0 0;
                        color: #60ace7;
                    }
                }
            }

            &.db{

            }

            .recos{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .reco{
                    width: 28%;
                    left: 60px;
                    position: relative;
                    top: 20px;
                }
            }

            &.ecommerce{
                font-size: 35px;

                .product-types-bar {
                    display: flex;

                    .product-tab {
                        transition: all 0.2s ease;
                        margin: 0 20px;
                        img {
                            height: 200px;
                            width: 200px;
                            object-fit: contain;
                        }

                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }

                .product-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .product-tab-bar {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin: 20px 0;
                        .product-tab {
                            margin: 0 20px;
                        }
                    }

                    .product-content {
                        display:flex;
                        flex-direction: row;

                        img {
                            height: 400px;
                            width: 400px;
                            object-fit: contain;
                        }

                        .pannel {
                            width: 800px;
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        .purchasse {
                            height: 300px;
                            width: 300px;
                            line-height: 300px;
                            vertical-align: middle;
                            background-image: url('~@/assets/circles/Btn_sci-fi_button03_n.png');
                            background-size: 100% 100%;
                            top: -30px;
                            position: relative;

                            &:hover {
                                background-image: url('~@/assets/circles/Btn_sci-fi_button03_h.png');
                            }

                            &:active {
                                background-image: url('~@/assets/circles/Btn_sci-fi_button03_p.png');
                            }
                        }
                    }

                    .product-desc {
                        flex-grow: 1;
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        margin-top: 50px;
                        ul {
                            list-style-type: none;
                            text-align: left;
                            margin: 0;
                            padding: 0;
                        }
                        .pannel-img {
                            img {
                                height: 410px;
                            }
                        }
                        .pannel {
                            width: 500px;
                            h3 {
                                text-align: left;
                                margin-block-start: 0em;
                                margin-block-start: 0em;
                            }
                        }
                    }

                    .purchasse {

                        height: 300px;
                        width: 300px;
                        line-height: 300px;
                        vertical-align: middle;
                        background-image: url('~@/assets/circles/Btn_sci-fi_button03_n.png');
                        background-size: 100% 100%;
                        position: relative;
                        top: -30px;

                        &:hover {
                            background-image: url('~@/assets/circles/Btn_sci-fi_button03_h.png');
                        }

                        .pannel {
                            flex-grow:1;
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        .purchasse {
                            height: 300px;
                            width: 300px;
                            line-height: 300px;
                            vertical-align: middle;
                            background-image: url('~@/assets/circles/Btn_sci-fi_button03_n.png');
                            background-size: 100% 100%;
                            position: relative;
                            top: -30px;

                            &:hover {
                                background-image: url('~@/assets/circles/Btn_sci-fi_button03_h.png');
                            }

                            &:active {
                                background-image: url('~@/assets/circles/Btn_sci-fi_button03_p.png');
                            }
                        }
                    }
                }
                
                .button_1 {
                    height: 100px;
                    width: 300px;
                    line-height: 100px;
                    vertical-align: middle;
                    background-image: url('~@/assets/components/Btn_button01_n.png');
                    background-size: 100% 100%;

                    &:hover {
                        background-image: url('~@/assets/components/Btn_button01_h.png');
                    }

                    &:active {
                        background-image: url('~@/assets/components/Btn_button01_p.png');
                    }
                }

                .button_class{

                    height: 100px;
                    width: 300px;
                    line-height: 100px;
                    vertical-align: middle;
                    background-image: url('~@/assets/components/Btn_button03_n.png');
                    background-size: 100% 100%;

                    text-align:center;
                }
                
            }
        }
    }
</style>