<template>
    <div class="screen digital-code" ref="locked">
        <div class="board">
            <div class="num-display">
                {{numpadValue}}
            </div>
            <div class="numpad">
                <!-- <div v-for="n in ['n', 's', 'e', 'o']" :key="n" class="num pos" @click="onNumpadClick(n)">
                    {{formatNum(n)}}
                </div> -->
                <div v-for="n in [ 1, 2, 3, 4, 5, 6, 7, 8, 9, -1, 0, -2,]" :key="n" class="num" @click="onNumpadClick(n)">
                    {{formatNum(n)}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PubSub from '../../controllers/PubSub';
    import conf from '../../config/conf';
    import RemoteSoundPlayer from '../Common/RemoteSoundPlayer.vue';
    import SoundPlayer from '../../config/SoundPlayer';

    export default {
        name: 'digital-code-component',
        props: ['imgSrc', 'code'],
        data() {
            return {
                numpadValue: '',
            }
        },
        methods: {
            formatNum(num) {
                switch(num) {
                    case -1:
                        return 'Eff.';
                    case -2:
                        return 'OK';
                    default:
                            
                        return num
                }
            },
            onNumpadClick(num) {
                switch(num){
                    case -1:
                        SoundPlayer.play("micro_qg_bdd_digicode_bouton")
                        this.numpadValue = this.numpadValue.slice(0,-1);
                        break;
                    case -2:
                        this.submitNumpad();
                        break;
                    default:
                        SoundPlayer.play("micro_qg_bdd_digicode_bouton")
                        if (this.numpadValue.length < 4) this.numpadValue = this.numpadValue + num.toString();
                        break;
                }
            },
            submitNumpad() {
                if(this.numpadValue == this.code){
                    PubSub.pub(conf.mqttTopic_LockPadSubmit, this.numpadValue);
                    SoundPlayer.play("micro_qg_bdd_valide_code_chargement")
                    this.$emit("unlock");
                }else{
                    SoundPlayer.play("micro_qg_bdd_erreur_code")
                }
                this.numpadValue = "";
            }
        }
    }
</script>

<style lang="scss" scoped>
    .digital-code {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'DS-Digital';
        font-weight: bold;
        font-style: normal;
        color: $white;

        .board{
            .num-display{
                width: 600px;
                height:200px;
                font-size: 110px;
                line-height: 200px;
                background-image: url('~@/assets/components/Btn_button04_n.png');
                background-size: 100% 100%;
            }


            .numpad {
                display: flex;
                flex-wrap: wrap;
                width: 600px;

                .num {
                    flex: 1 0 30%;
                    margin: 5px;
                    height: 130px;
                    line-height: 130px;
                    background-image: url('~@/assets/components/Btn_tool_n.png');
                    background-size: 100% 100%;
                    font-size: 60px;
                    &:active {
                        transform: scale(0.9);
                    }
                }

                .pos{
                    flex: 1 0 22%;
                    filter:hue-rotate(-180deg);
                }
            }
        }
    }
</style>
