<template>
    <div class="scan">
        <div class="target-holder">
            <div
                v-for="(action, index) in currentActions"
                :key="index"
                @click="onTargetClick(action)">
                <TargetComponent
                    :action="action"
                />
            </div>
        </div>
        <div class="camera-holder" ref="cameras">
            <div class="camera" v-for="(camera, index) in cameras" :key="index" >
                <div class="stream-holder">
                    <LiveView class="stream" :scanning="scanning" :wsUrl="camera.dataUrl" :style="{ transform:'rotate('+camera.rot+')' }"> </LiveView>
                </div>
            </div>
        </div>

        <div class="panel">
            <ChronometerComponent :endTimestamp="globalTimestamp"/>

            <div class="messages">
                <div class="message" v-for="(message, index) in messages" :key="index">
                    
                </div>
            </div>

            <div :class="{'scan-button-holder':true}" @click="onScanClick">
                <div :class="{'scan-button':true, active:scanActivated}">
                    <div class="bg bg1"/>
                    <div class="bg bg2"/>
                    <div class="bg text">SCAN</div>
                </div>
            </div>

        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from "vue-property-decorator";
    import PubSub, { MqttEvent } from '@/controllers/PubSub';
    import TargetComponent from '@/components/Headquarter/TargetComponent.vue';
    import LiveView from '@/components/Common/LiveView.vue';
    import Logger from '../../utils/Logger';
    import conf from '../../config/conf';
    import ChronometerComponent from '@/components/General/ChronometerComponent.vue';

    

    function checkTime(i:number) {
        return (i < 10) ? "0" + i : i;
    }

    @Component({
        components:{
            TargetComponent,
            LiveView,
            ChronometerComponent
        }
    })

    export default class ScanComponent extends Vue {
        @Prop({default: '0'}) universeId!:string;
        scanning:boolean = false;
        globalTimestamp = Date.now()+30*60*1000;
        currentActions = [];
        time:string = "00:00:00";
        public camerasConf=[
            [
                {
                    title:"Camera 1",
                    rot:"-90deg",
                    dataUrl: 'ws://192.168.1.53:9999'
                },
                {
                    title:"Camera 2",
                    rot:"90deg",
                    dataUrl: 'ws://192.168.1.54:9997'
                },
                {
                    title:"Camera 3",
                    rot:"-90deg",
                    dataUrl: 'ws://192.168.1.53:9998'
                }

            ],
            [
                {
                    title:"Camera 1",
                    rot:"90deg",
                    dataUrl: 'ws://192.168.1.54:9996'
                },
                {
                    title:"Camera 2",
                    rot:"90deg",
                    dataUrl: 'ws://192.168.1.55:9995'
                }

            ],
        ];

        public cameras = this.camerasConf[this.universeId];
        public targets = Array.from(Array(30).keys()).map((i)=>{
            return {x:i*100, y:300, color:"#0F0", active:true}
        });

        public scanActivated = true;
        public messages:string[]=[
            "",
            "",
        ];

        public rs = 0;

        public mounted():void {
            conf.universeId = this.universeId;
            this.cameras = this.camerasConf[parseInt(conf.universeId)];
            PubSub.sub(conf.mqttTopic_ScanActivationState, this.onScanActivationState);
            PubSub.sub(conf.mqttTopic_ScanPin, this.onScanPin);
            PubSub.sub(conf.mqttTopic_ScanMessage, this.onMessage);
            PubSub.sub(conf.mqttTopic_GameTimestamp(), (ev)=>this.globalTimestamp = parseInt(ev.payload));
            PubSub.sub(conf.mqtt_ActiveActions(this.universeId), (ev)=>this.onActionChange(ev));

            setInterval(()=>{
                this.rs++;
            },1000);
            this.updateTime();
        }

        public updateTime(){
            var today = new Date(),
            h = checkTime(today.getHours()),
            m = checkTime(today.getMinutes()),
            s = checkTime(today.getSeconds());
            this.time = h + ":" + m + ":" + s;
            setTimeout(()=>this.updateTime(), 500);
        }

        public onScanClick():void{
            if(this.scanActivated) {
                var self = this;
                PubSub.pub(conf.mqttTopic_ScanSend, "");
                this.scanning = true;
                setTimeout(function() {
                    self.scanning = false;
                }, 3000);
            }
        }

        public onScanActivationState(ev:MqttEvent):void{
            Logger.log("onScanActivationState", ev)
            this.scanActivated = (ev.payload == "1");
        }

        public onScanPin(ev:MqttEvent):void{
            Logger.log("onScanPin", ev)
            //this.targets[ev.props.pin].active = (ev.payload=="1")
        }

        public onMessage(ev:MqttEvent):void{
            Logger.log("onScanPin", ev)
            this.messages[ev.props.id] = ev.payload;
        }

        public onTargetClick(action:any):void{
            Logger.log("onTargetClick", action)
            PubSub.pub(conf.mqttTopic_ActivitySet, JSON.stringify(action));
        }

        public onActionChange(ev:MqttEvent){
            this.currentActions = JSON.parse(ev.payload) || [];
        }


    }
</script>

<style scoped lang="scss">
    .scan {
        background-image: url('~@/assets/bg.png');
        color:white;
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }

    .scan-button{
        position:relative;
        margin-top:-40px;
        font-size:70px;
        font-weight: bold;
        transition: opacity 0.5s ease;
        opacity:0.3;

        &.active{
            opacity:1;
        }

        .bg{
            position: absolute;
            background-size: 100% 100%;
            top:-130px;
            width: 300px;
            height: 300px;
            vertical-align: middle;
        }

        .text{
            top:-20px;
            height: 100px;
        }

        .bg1{
            opacity: 0.5;
            animation: rotation 6s infinite linear;
            background-image: url('~@/assets/components/Btn_sci-fi button04_h.png');
        }

        .bg2{
            background-image: url('~@/assets/components/Btn_sci-fi button03_n.png');
            animation: anitrotation 10s infinite linear;
        }
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
    }

    @keyframes anitrotation {
      from {
        transform: rotate(359deg);
      }
      to {
        transform: rotate(0deg);
      }
    }

    @keyframes rotate {
        100% {
            transform: rotate(1turn);
        }
    }

    .camera-holder {
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .camera {
            display: flex;
            flex-direction: column;

            .stream-holder {
                margin: -69px;
                .stream { 
                    border-radius: 10px;
                    overflow: hidden;
                    padding: 0.1rem;
                    transform: rotate(90deg) scale(1);
                    position: relative;

                    
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: -2;
                        left: -50%;
                        top: -50%;
                        width: 200%;
                        height: 200%;
                        background-color: #0c1753;
                        background-repeat: no-repeat;
                        background-size: 50% 50%, 50% 50%;
                        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
                        background-image: linear-gradient(#0c1753, #0c1753), linear-gradient(#0b5c9f, #0b5c9f), linear-gradient(#1fbce4, #1fbce4), linear-gradient(#091f37, #091f37);
                        animation: rotate 20s linear infinite;
                    }
                    
                    &::after {
                        content: '';
                        position: absolute;
                        z-index: -1;
                        background: white;
                        border-radius: 5px;
                    }

                    &.placeholder{
                        background-color: #666;
                        width: 640px;
                        height: 480px;
                    }
                }
            }
        }
    }

    .panel{
        background-color: #0000FF30;
        width:calc(1920px/5 - 100px);
        padding:50px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;

        .message{
            font-family: 'Bahnschrift';
            font-style: italic;
        }

        .hour{
            text-align: left;
            padding-left: 10px;
            font-family: 'DS-Digital';
            font-weight: bold;
            font-style: italic;
            font-size: 70px;
            margin-bottom:-200px;
        }
    }
</style>
