<template>
    <div class="ripple" :style="{left:pos.x*208/216+'px', top:pos.y*208/216+'px'}">
        <div v-for="i in [1,2,3]" :key="i" class="circle" :style="{borderColor}" />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class TargetComponent extends Vue {
    @Prop() action?:any;

    get pos(){
      let def = this.action.definition;
      let pin = this.pinPositions[def.pinPosition];
      return pin;
    }
    


    
    public borderColor(){
        if(this.action.state.done){
            if(this.action.state.success){
                return "#0F0";
            }else{
                return "#F00";
            }
        }else{
            return "#0FF";
        }
    }

    pinPositions = {
        frigo:              {x: 897, y: 304},
        casserole:          {x: 919, y: 185},
        tv:                 {x: 687, y: 139},
        lampe_salon:        {x: 636, y: 216},
        cafetiere:          {x: 918, y: 152},
        bouilloire:         {x: 916, y: 163},
        lave_vaisselle:     {x: 892, y: 224},
        thermostat_salon:   {x: 921, y: 244},

        lampe_chambre:      {x: 992, y: 185},
        lave_linge:         {x: 623, y: 145},
        pc:                 {x: 718, y: 142},
        voiture:            {x: 727, y: 295},
        seche_linge:        {x: 676, y: 156},
        thermostat_chambre: {x: 726, y: 313},
    }

}

</script>

<style scoped lang="scss">

$size: 50px;
$borderSize: 4px;
$duration:4s;

.ripple {
  position: absolute; 
  width: $size; 
  height: $size;
  margin-left: - $size/2 - $borderSize;
  margin-top: - $size/2 - $borderSize;
  z-index:100;
}

.circle {
  position: absolute; 
  height: $size;
  width: $size;
  border: $borderSize solid ;
  
  border-radius: 50px;

  animation: wave $duration infinite linear;
  animation-fill-mode: both;     
}

.circle:nth-child(2) {
  animation-delay: $duration/3;  
}

.circle:nth-child(3) {
  animation-delay: $duration/3*2;  
}

/* stays on full alpha from 50 to 75 */ 
@keyframes wave {
  0% { 
    transform: scale(0);
    opacity: 0.0;  
  }
  25% {
    opacity: 1.0;
  }    
  50% {  
    opacity: 1.0;
  }
  75% {  
    opacity: 1.0;
  }    
  100% { 
    transform: scale(1);
    opacity: 0.0; 
  }
}

</style>
