<template>
    <div class="screen waiting">
        <span>{{ texts.waiting }}</span>
    </div>
</template>

<script>
    import { WAITING_TEXTS } from '../../texts/common/database';

    export default {
        name: 'waiting-component',
        props: ['imgSrc'],
        data() {
            return {
                texts: WAITING_TEXTS,
            }
        }
    }
</script>

<style lang="scss" scoped>
    .waiting {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        font-size: $title-l;
    }
</style>
