.thermostat__view {
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  font-family: 'Montserrat', 'Avenir', Helvetica, Arial, sans-serif;
  background: red;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('~@/assets/bg/thermostat.jpg') center center / cover;

  & .thermostat__button {
    transition: transform 0.1s ease;
    margin-top: 40px;
    font-family: inherit;
    padding: 25px 35px;
    border: none;
    background: #6a77e2;
    background: linear-gradient(45deg, #6a77e2 0%, #949de0 100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    color: whitesmoke;
    border-radius: 3px;
    &:hover,&:active,&:focus {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  & .thermostat__content {
    padding: 40px;
    & .thermostat__programmation__table {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.29);
      & > * {
        box-sizing: border-box;
      }
      border-collapse: collapse;
      overflow: hidden;
      border-radius: 5px;
      & thead {
        background: #6a77e2;
        background: linear-gradient(45deg, #6a77e2 0%, #949de0 100%);
        color: whitesmoke;
        & th {
          padding: 20px;
        }
      }
      & tbody {
        td {
          background: #e6e6e6;
          padding: 15px;
          width: 70px;
        }
      }
    }
  }
}
