<template>
    <div class="washing-machine-energy-label">
        <energy-label-component :img-src="labels[`choice${currentChoice}`]"/>
    </div>
</template>

<script>
    import EnergyLabelComponent from '../../components/Common/EnergyLabelComponent';
    import energyLabelsMixin from '../../mixins/energyLabels';
    import labels from '../../assets/components/common/enegy-label/washing-machine';
    import PubSub from '../../controllers/PubSub';
    import conf from '../../config/conf';

    export default {
        name: 'washing-machine-energy-label',
        components: {EnergyLabelComponent},
        mixins: [energyLabelsMixin],
        data() {
            return {
                labels: labels,
            }
        },
        mounted() {
            PubSub.sub(conf.mqttTopic_energy_label_washing_machine, (e) => { this.setCurrentChoice(e.payload) });
        },
    }
</script>
