<template>
    <li class="ui-destination-list-item">
        <img :src="destination.imageUrl" alt="">
        <div class="ui-destination-list-item__informations">
            <h2>{{ destination.title }}</h2>
            <p>{{ destination.description }}</p>
            <h3>CO<sub>2</sub> : {{ destination.co2.cars }} kg</h3>
        </div>
        <button @click="$emit('select', destination)">Choisir cette destination</button>
    </li>
</template>

<script>
    export default {
        name: "UIDestinationListItem",
        props: {
            destination: { type: Object, required: true }
        }
    }
</script>

<style lang="scss" scoped>
    .ui-destination-list-item {
        position: relative;
        transition: all .2s;
        display: flex;
        background: #e6e6e6;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 120px;
            object-fit: cover;
        }
        &__informations {
            display: flex;
            margin-left: 10px;
            flex-direction: column;
            text-align: left;
            padding: 10px;
            & h2 {
                font-size: 20px;
                margin: 0;
            }
            & h3 {
                font-size: 16px;
                margin: 0;
            }
        }
        & button {
            position: absolute;
            bottom: 10px;
            right: 10px;
            outline: none;
            border: none;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.7);
            color: whitesmoke;
            padding: 5px 10px;
            opacity: 0.6;
            &:hover,&:active,&:focus {
                opacity: 1;
                cursor: pointer;
            }
        }
        &:hover,&:active,&:focus {
            cursor: pointer;
            background: whitesmoke;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
        }
    }
</style>
