<template>
    <div class="ui-dropdown">
        <div class="ui-dropdown__selected">
            {{ value }}
        </div>
        <ul class="ui-dropdown__choices">
            <li v-for="choice in choices" @click="select(choice)" :class="{ active: choice === value }">
                {{ choice }}
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "UIDropdown",
        model: {
            prop: 'value',
            event: 'change'
        },
        props: {
            choices: {type: Array, default: () => []},
            value: { type: String, default: null }
        },
        methods: {
            select(choice) {
                this.$emit('change', choice)
            }
        }
    }
</script>

<style scoped lang="scss">
    .ui-dropdown {
        min-width: 180px;
        border-radius: 3px;
        overflow: hidden;
        &__selected {
            background: #e6e6e6;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__choices {
            background: white;
            margin-top: 0;
            list-style: none;
            text-align: left;
            padding: 0;
            & li {
                padding: 10px;
                &:hover,&:active,&:focus,&.active {
                    background: #6a77e2;
                    color: whitesmoke;
                    cursor: pointer;
                }
            }
        }
    }
</style>
