<template>
    <transition name="fade">
        <vue-draggable-resizable v-if="visible"
                                 :z="999"
                                 :onDragStart="onDragStart"
                                 :x="position.x - (minWidth / 2)"
                                 :y="position.y - (minHeight / 2)"
                                 :w="minWidth" :h="minHeight"
                                 :min-width="minWidth" :min-height="minHeight"
                                 class="ui-window">
            <div class="ui-window__titlebar">
                <UIIcon v-if="showNavigation" @click="$emit('back')" name="back" w="32px" h="100%" padding="8px" class="ui-window__titlebar__back--btn"/>
                <h2 class="ui-window__titlebar__title" v-html="title">{{ title }}</h2>
                <button v-if="showCloseButton" title="Fermer la fenêtre" class="ui-window__titlebar__close--btn" @click="$emit('close')">x</button>
            </div>
            <div class="ui-window__content" :class="{ flex }">
                <div v-if="container" class="container">
                    <slot></slot>
                </div>
                <slot v-else></slot>
            </div>
        </vue-draggable-resizable>
    </transition>
</template>

<script>
    import {EventBus} from "@/main"
    import {UIEvents} from "@/events"
    import UIIcon from "@/components/Bedroom/icons/UIIcon"

    export default {
        name: "UIWindow",
        components: {UIIcon},
        data() {
            return {
                showCloseButton: true
            }
        },
        props: {
            flex: {type: Boolean, default: true},
            showNavigation: {type: Boolean, default: true},
            container: {type: Boolean, default: true},
            visible: {type: Boolean, default: false},
            title: {type: String, default: 'Nouvelle fenêtre'},
            minWidth: {type: Number, default: 640},
            minHeight: {type: Number, default: 480},
        },
        computed: {
            position() {
                return {
                    x: window.innerWidth / 2,
                    y: window.innerHeight / 2,
                }
            }
        },
        methods: {
            onDragStart(e) {
                return e.target.classList.contains('ui-window__titlebar')
            }
        },
        mounted() {
            EventBus.$on(UIEvents.ShowWindowCloseButton, () => {
                this.showCloseButton = true
            })
            EventBus.$on(UIEvents.HideWindowCloseButton, () => {
                this.showCloseButton = false
            })
        },
        beforeDestroy() {
            EventBus.$off([
                UIEvents.HideWindowCloseButton,
                UIEvents.ShowWindowCloseButton
            ])
        }
    }
</script>

<style lang="scss">
    .vdr {
        touch-action: none;
    }

    .handle, .vdr {
        position: absolute;
        box-sizing: border-box
    }

    .handle {
        width: 10px;
        height: 10px;
        z-index: 3;
    }

    .handle-tl {
        top: -5px;
        left: -5px;
        cursor: nw-resize
    }

    .handle-tm {
        top: -5px;
        width: 100%;
        margin-left: -5px;
        cursor: n-resize
    }

    .handle-tr {
        top: -5px;
        right: -5px;
        cursor: ne-resize
    }

    .handle-ml {
        left: -5px;
        cursor: w-resize
    }

    .handle-tr, .handle-tl, .handle-br, .handle-bl {
        z-index: 10;
    }

    .handle-ml, .handle-mr {
        height: 100%;
        margin-top: -5px
    }

    .handle-mr {
        right: -5px;
        cursor: e-resize
    }

    .handle-bl {
        bottom: -5px;
        left: -5px;
        cursor: sw-resize
    }

    .handle-bm {
        bottom: -5px;
        width: 100%;
        margin-left: -5px;
        cursor: s-resize
    }

    .handle-br {
        bottom: -5px;
        right: -5px;
        cursor: se-resize
    }

    @media only screen and (max-width: 768px) {
        [class*=handle-]:before {
            content: "";
            left: -5px;
            right: -5px;
            bottom: -5px;
            top: -5px;
            position: absolute
        }
    }
</style>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .05s, transform .15s, filter .3s;
    }
    .fade-enter, .fade-leave-to {
        transform: translateY(-20px) scale(0.2);
        opacity: 0;
    }
    .ui-window {
        background: whitesmoke;
        border-radius: 5px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.32);
        overflow: hidden;

        &__titlebar {
            position: relative;
            height: 30px;
            background: rgba(0, 0, 0, 0.08);
            display: flex;
            align-items: center;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
            z-index: 2;

            &__back--btn {
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }

            &__title {
                font-size: 16px;
                font-weight: 500;
                width: 100%;
                pointer-events: none;
            }

            &__close--btn {
                margin-left: auto;
                margin-right: 10px;
                color: transparent;
                outline: none;
                background: red;
                border: none;
                width: 13px;
                height: 13px;
                padding: 0;
                border-radius: 100%;
                opacity: 0.5;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }

        &__content {
            height: calc(100% - 30px);
            overflow: auto;
            &.flex {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            & .container {
                max-width: 1000px;
                padding: 0 20px;
                margin: 0 auto;
            }
            &::-webkit-scrollbar {
                width: 0.5rem;
                padding-right: 10px;
            }

            &::-webkit-scrollbar-track {
                display: none;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                position:absolute;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }

    }
</style>
