<template>
    <div class="velleda" ref="velleda">
        <ul>
            <li v-for="(message, index) in messages" :key="index">{{message}}</li>
        </ul>
    </div>
</template>

<script>
    import PubSub from '../../controllers/PubSub';
    import conf from '../../config/conf';

    export default {
        name: 'velleda',
        components: {},
        data(){
            return {
                messages:[
                    'Occaecat nulla minim qui cupidatat irure ipsum magna ullamco.',
                    'Enim quis nostrud aliqua ullamco duis velit minim non voluptate amet.',
                    'Sunt officia dolor pariatur sit ipsum laboris ullamco laboris elit sit.',
                    'Culpa occaecat sint laborum consectetur cillum irure non consequat ullamco.',
                    'Amet veniam ut pariatur est laborum ipsum amet nostrud qui commodo esse adipisicing.',
                    'Consectetur ipsum ut velit veniam velit anim ex.',
                    'Consequat laborum velit voluptate ad enim nulla pariatur.',
                    'Id minim Lorem adipisicing proident nisi aliqua dolore eu incididunt consectetur nostrud culpa incididunt sunt.',
                ]
            }
        },
        mounted() {

            PubSub.sub("/velleda/messages", (ev)=>this.messages=JSON.parse(ev.payload))
        }
    }
</script>


<style scoped lang="scss">

    .velleda {
        height: 100vh;
        font-family: 'Luna';
        color: black;
        font-size: 2.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 50%;
        position: relative;
        background: linear-gradient(221deg, #e2b9ff, #bdecf7);
        background-size: 400% 400%;

        -webkit-animation: animBackground 20s ease infinite;
        -moz-animation: animBackground 20s ease infinite;
        animation: animBackground 20s ease infinite;

        @-webkit-keyframes animBackground {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes animBackground {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes animBackground {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
            
        li {
            list-style-type: none;
            padding: 40px;
        }
    }
    ul {
        z-index: 2;
        position: absolute;
        margin: 0;
        padding: 0;
    }
</style>

