<template>
    <div class="badge">
        Yo
    </div>
</template>

<script lang="ts">
import { Component, Inject, Model, Prop, Vue, Watch, Provide } from "vue-property-decorator";

@Component({
    components:{}
})
export default class Badge extends Vue {

    public mounted():void {
        
    }

    public beforeDestroy():void {
        
    }

}
</script>

<style scoped lang="scss">
.badge{
    background:pink;
    position:absolute;
    top:0;left:0;bottom:0;right: 0;
}
</style>