<template>
  <div class="home">
    <Navigation/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navigation from '@/components/General/Navigation.vue';

@Component({
  components: {
    Navigation
  },
})
export default class Home extends Vue {}
</script>
