<template>
    <div class="chronometer">
        {{formatedTime}}
    </div>
</template>

<script lang="ts">
import { Component, Inject, Model, Prop, Vue, Watch, Provide } from "vue-property-decorator";


function checkTime(i:number) {
    return (i < 10) ? "0" + i : i;
}

@Component({
    components:{}
})
export default class ChronometerComponent extends Vue {
    @Prop({default:0}) endTimestamp?:number;
    
    timeleft:number = 0;

    public mounted():void {
        setInterval( ()=>{this.onTick()}, 500)
    }

    onTick(){
        if (!this.endTimestamp){
            this.timeleft = 0;
            return;
        }
        let diff = this.endTimestamp - Date.now();
        if (diff < 0){
            this.timeleft = 0;
        }else{
            this.timeleft = diff;
        }
    }

    get formatedTime(){
        let s = checkTime(Math.abs(Math.floor(this.timeleft/1000)%60));
        let m = Math.floor(this.timeleft/60000);
        return m + " : " + s;
    }
    public beforeDestroy():void {
        
    }

}
</script>

<style scoped lang="scss">
    .chronometer {
        color: $white;
        background: black;
        margin: 20px;
        font-size: 80px;
        font-family: 'DS-Digital';
        -webkit-box-shadow: 0px 0px 65px 0px rgba(54,189,241,1);
        -moz-box-shadow: 0px 0px 65px 0px rgba(54,189,241,1);
        box-shadow: 0px 0px 65px 0px rgba(54,189,241,1);
        border-radius: 20px;
        height: 100px;
        line-height: 100px;
    }
</style>