<template>
    <div class="logo-wrapper">
        <img class="logo" :class="{'logo__translated': showChronometer}" src="~@/assets/logo/sage_white.png" alt="Sage">

        <div class="text" v-if="text" >{{text}}</div>
        <transition name="fade">
            <ChronometerComponent class="text" v-if="showText" />
        </transition>
    </div>
</template>

<script>
    import ChronometerComponent from './ChronometerComponent';
    export default {
        name: 'logo',
        components: {ChronometerComponent},
        props: ['showChronometer','text'],
        data() {
            return {
                showText: false,
            }
        },
        watch: {
            showChronometer(value) {
                if (value) {
                    setTimeout(() => { this.showText = true }, 450);
                } else {
                    this.showText = false;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .logo-wrapper {
        width: 100vw;
        height: 100vh;
        background-image: $radial-gradient;

        .logo,
        .text {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .logo {
            opacity: .5;
            top: 50%;
            width: 42vw;
            max-width: 350px;
            transition: top .5s ease;
            animation: scaling 10s infinite ease;

            @keyframes scaling {
                0% {
                    transform: translate(-50%, -50%) scale(1);
                }
                50% {
                    transform: translate(-50%, -50%) scale(1.1);
                }
                100% {
                    transform: translate(-50%, -50%) scale(1) ;
                }
            }

            &__translated {
                top: 40%;
            }
        }

        .text {
            top: 74%;
            color: $white;
            font-size: $title-m;
        }
    }
</style>
