<template>
    <div class="navigation" id="nav">
        <div class="room">
            <p class="room-name">Debug</p>
            <router-link to="/debug/control">Control (Test events)</router-link>
            <router-link to="/admin/main">ADMIN</router-link>
        </div>

        <div class="room">
            <p class="room-name">Briefing</p>

            <ul>
                <li>
                    <router-link to="/briefing/television">Télévision</router-link>
                </li>
            </ul>
        </div>

        <div class="room">
            <p class="room-name">Headquarter</p>

            <div class="room-sections">
                <div class="section">
                    <p class="room-name">BedroomBathroom (universeId 0):</p>
                    <ul>
                        <li>
                            <router-link to="/headquarter/bedroom-bathroom/scan">Scan</router-link>
                        </li>
                        <li>
                            <router-link to="/headquarter/bedroom-bathroom/database">Database</router-link>
                        </li>
                    </ul>
                </div>

                <div class="section">
                    <p class="room-name">KitchenLivingroom (universeId 1):</p>
                    <ul>
                        <li>
                            <router-link to="/headquarter/kitchen-living-room/scan">Scan</router-link>
                        </li>
                        <li>
                            <router-link to="/headquarter/kitchen-living-room/database">Database</router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="room">
            <p class="room-name">Macro</p>

            <ul>
                <li>
                    <router-link to="/macro/pupitre/pupitregauche">Pupitre GAUCHE</router-link>
                </li>
                <li>
                    <router-link to="/macro/pupitre/pupitredroit">Pupitre DROIT</router-link>
                </li>
            </ul>
        </div>

        <div class="room">
            <p class="room-name">Bedroom</p>

            <ul>
                <li>
                    <router-link to="/bedroom/chest">Chest</router-link>
                </li>
                <li>
                    <router-link to="/bedroom/pc-interface">PC</router-link>
                </li>
                <li>
                    <router-link to="/bedroom/thermostat">Thermostat</router-link>
                </li>
            </ul>
        </div>

        <div class="room">
            <p class="room-name">Bathroom</p>

            <ul>
                <li>
                    <router-link to="/bathroom/washing-machine-energy-label">Washing Machine Energy Label</router-link>
                </li>
            </ul>
        </div>

        <div class="room">
            <p class="room-name">Kitchen</p>

            <ul>
                <li>
                    <router-link to="/kitchen/dishwasher-energy-label">Dishwasher Energy Label</router-link>
                </li>
                <li>
                    <router-link to="/kitchen/fridge-energy-label">Fridge Energy Label</router-link>
                </li>
            </ul>
        </div>

        <div class="room">
            <p class="room-name">Living room</p>

            <ul>
                <li>
                    <router-link to="/living-room/chest">Chest</router-link>
                </li>
                <li>
                    <router-link to="/living-room/television">Télévision</router-link>
                </li>
                <li>
                    <router-link to="/living-room/thermostat">Thermostat</router-link>
                </li>
            </ul>
        </div>

        <div class="room">
            <p class="room-name">Corridor</p>

            <ul>
                <li>
                    <router-link to="/corridor/velleda">Velleda</router-link> 
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'navigation'
    }
</script>

<style scoped lang="scss">
    .navigation {
        font-size: 18px;

        .room {
            margin: 18px;
            padding: 10px 0;
            border: 2px solid black;

            ul {
                margin: 10px auto;
                width: max-content;
                text-align: left;
            }

            a {
                display: block;
                padding: 5px 0;
                font-weight: bold;
                color: #2c3e50;
            }

            &-name {
                font-size: 24px;
            }

            &-sections {
                display: flex;
                justify-content: center;

                .section {
                    margin-right: 20px;
                    padding: 10px;
                    border: 1px solid grey;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }
</style>
