<template>
    <div class="ui-checkbox">
        <label class="control control-checkbox">
            <slot></slot>
            <input @change="handleClick" type="checkbox" :checked="checked" />
            <div class="control_indicator"></div>
        </label>
    </div>
</template>

<script>
    export default {
        name: "UICheckbox",
        model: {
            prop: 'checked',
            event: 'change'
        },
        props: {
            checked: {type: Boolean, default: false}
        },
        methods: {
            handleClick() {
                this.$emit('change', !this.checked)
            }
        }
    }
</script>

<style scoped>
    .ui-checkbox {
        position: relative;
        left: 4px;
        top: 6px;
    }
    .control {
        min-height: 24px;
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px;
        padding-top: 3px;
        cursor: pointer;
        font-size: 16px;
    }
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    .control_indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: whitesmoke;
        border-radius: 3px;
        border: 0px solid #000000;
    }
    .control-radio .control_indicator {
        border-radius: 100%;
    }

    .control:hover input ~ .control_indicator {
        background: #cccccc;
    }

    .control input:checked ~ .control_indicator {
        background: #2aa1c0;
    }
    .control input:disabled ~ .control_indicator {
        background: #e6e6e6;
        opacity: 0.6;
        pointer-events: none;
    }
    .control_indicator:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
    }
    .control input:checked ~ .control_indicator:after {
        display: block;
    }
    .control-checkbox .control_indicator:after {
        left: 8px;
        top: 4px;
        width: 3px;
        height: 8px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    .control-checkbox input:disabled ~ .control_indicator:after {
        border-color: #7b7b7b;
    }
</style>
