<template>
    <div class="adminmain">
        <div class="action" @click="send('/micro/admin/session/reset')">RESET</div>
        <div class="action" @click="send('/micro/admin/game/start')">START GAME</div>
        <div class="action" @click="send('/micro/admin/game/stop')">STOP GAME</div>
        <div v-if="gameState">
            <div>Game phase : {{gameState.phase}}</div>
            <div>Game end : {{gameState.gameEndTimeStamp}}</div>
            
            <div class="universeState" v-for="(universe, universeId) of gameState.universes" :key="'universe-'+universeId">
                <div class="action" @click="send('/micro/admin/universe/'+universeId+'/start')">START</div>

                <div>{{universeId?'SALON':'CHAMBRE'}}</div>
                <div>Phase : {{universe.currentPhase}}</div>
                <div>EndTimestamp : {{universe.currentPhaseEndTimeStamp}}</div>
                <div v-for="action in universe.actions"  :key="action.id">
                    {{action.definition.phaseId}}
                    {{action.definition.homeText}}
                    {{action.definition.name}}
                    {{action.state}}
                <span class="action" @click="send('/micro/admin/universe/'+universeId+'/action/validate', action.definition.id)"> VALIDATE </span> 
                <span class="action" @click="send('/micro/admin/universe/'+universeId+'/action/fail', action.definition.id)"> FAIL </span> 
                <span class="action" @click="send(action.definition.validationTopic, action.definition.validationRequestedValue)"> SIMULATE </span>

                </div>
            </div>
        </div>


    </div>
</template>

<script lang="ts">
import { Component, Inject, Model, Prop, Vue, Watch, Provide } from "vue-property-decorator";
import GameState from '../../vo/GameState';
import Universe from '../../vo/Universe';
import PubSub from '../../controllers/PubSub';


@Component({
    components:{}
})
export default class AdminMain extends Vue {

    public gameState:GameState | null = null;


    public mounted():void {
        PubSub.sub("/admin/game/state", (ev)=>this.parseState(ev.payload))
    }

    parseState(stateTxt){
        console.log(stateTxt)
        this.gameState = JSON.parse(stateTxt) as GameState;
    }

    public gs(){
        if(this.gameState){
           this.gameState.universes[0].actions[0].definition.homeText
        }
    }
    public beforeDestroy():void {
        
    }

    public send(topic:string, payload:string = ""):void{
        PubSub.pub(topic, payload)
    }

}
</script>

<style scoped lang="scss">
.adminmain{
    .action{
        background:#00000033;
    }
}
</style>