<template>
    <div class="pc">
        <UIWindow class="destination-window" title="Changer de billet" :flex="false"
                  :min-width="800"
                  :show-navigation="!['list', 'ok'].includes(currentStep.avion)"
                  @back="onNavigationBack('avion')"
                  :visible="!modes.veille && modes.avion && ui.avion" @close="closeWindow('avion')">
            <template v-if="currentStep.avion === 'list'">
                <h3>Destinations de rêve</h3>
                <ul class="destination-list">
                    <UIDestinationListItem v-for="destination in destinations" :key="destination.id"
                                           :destination="destination" @select="onDestinationSelected"/>
                </ul>
            </template>
            <template v-else-if="currentStep.avion === 'ok'">
                <h3>Réservation confirmée</h3>
                <h4>De superbes vacances vous attendent</h4>
            </template>
            <template v-else-if="currentStep.avion === 'error'">
                <h3>Erreur de réservation</h3>
                <h4>Veuillez réessayer ultérieurement</h4>
            </template>
        </UIWindow>
        <UIWindow title="Logiciel d'optimisation" :visible="!modes.veille && modes.optimisation && ui.optimisation"
                  :container="false"
                  :show-navigation="false"
                  @close="closeWindow('optimisation') || resetUiStates()">
            <template v-if="currentStep.optimisation === 'initial'">
                <h3 class="operation-title">Voulez vous installer le logiciel d'optimisation?</h3>
                <div class="buttons">
                    <div class="button" @click="installOptim">Oui</div>
                    <div class="button" @click="closeWindow('optimisation')">Non</div>
                </div>
            </template>
            <template v-else-if="currentStep.optimisation === 'pending'">
                <h3 class="operation-title">Installation en cours</h3>
                <div class="progress-bar">
                    <div class="bar"></div>
                </div>
            </template>
            <template v-else-if="currentStep.optimisation === 'done'">
                <h3 class="operation-title">Installation terminée!</h3>
            </template>
        </UIWindow>
        <UIWindow class="co2-window" title="Compenser mon CO<sub>2</sub>" :visible="!modes.veille && modes.co2 && ui.co2"
                  :show-navigation="!['search', 'no_compensation', 'yes_compensation'].includes(currentStep.co2)"
                  @back="onNavigationBack('co2')"
                  @close="closeWindow('co2')" :min-width="800">
            <template v-if="currentStep.co2 === 'search'">
                <h3 class="operation-title">Votre voyage</h3>
                <h4>Calculez vos émissions de CO<sub>2</sub> en
                    <select name="carlist" v-model="inputs.co2.locomotion">
                        <option value="plane">Avion</option>
                        <option value="train">Train</option>
                        <option value="car">Voiture</option>
                    </select>
                </h4>
                <div class="container">
                    <div class="col from">
                        <h5>De</h5>
                        <UIDropdown v-model="inputs.co2.from" :choices="['Paris', 'Londres', 'Madrid']"/>
                    </div>
                    <div class="col to">
                        <h5>A</h5>
                        <UIDropdown v-model="inputs.co2.to" :choices="['Tokyo', 'Mexico', 'Vancouver']"/>
                    </div>
                </div>
                <div class="container actions">
                    <button class="button" :disabled="!isCo2InputValid" @click="submitCo2">Calculer</button>
                </div>
            </template>
            <template v-else-if="currentStep.co2 === 'confirmation_compensation'">
                <h3 class="operation-title">Pour ce trajet, vous allez produire 3,25 tonnes de CO<sub>2</sub></h3>
                <h4>Souhaitez vous compenser ?</h4>
                <div class="buttons">
                    <div class="button" @click="handleCo2Compensation('yes')">Oui</div>
                    <div class="button" @click="handleCo2Compensation('no')">Non</div>
                </div>
            </template>
            <template v-else-if="currentStep.co2 === 'no_compensation'">
                <h3 class="operation-title">Votre choix a bien été pris en compte</h3>
                <h4>Vous avez choisi de ne pas compenser votre voyage</h4>
            </template>
            <template v-else-if="currentStep.co2 === 'yes_compensation'">
                <h3 class="operation-title">Votre choix a bien été pris en compte</h3>
                <h4>Vous avez choisi de compenser votre voyage</h4>
            </template>
            <template v-else-if="currentStep.co2 === 'error'">
                <h3 class="operation-title">Erreur</h3>
                <h4>
                    Le site ne parvient pas à calculer les émissions en
                    {{ inputs.co2.locomotion === "train" ?
                    'train' : inputs.co2.locomotion === "car" ? 'voiture' : "avion" }}
                    pour le trajet {{ inputs.co2.from }} - {{ inputs.co2.to }}
                </h4>
            </template>
        </UIWindow>
        <div class="sleep" @click="toogleSleep" v-if="modes.veille">
            <div class="label">I/O</div>
        </div>
        <div class="desktop" v-show="!sleep">
            <div class="icon" @click="openWindow('optimisation')" v-if="modes.optimisation">
                <div class="logo"></div>
                <div class="label">Logiciel d'optimisation</div>
            </div>
            <div class="icon" @click="openWindow('avion')" v-if="modes.avion">
                <div class="logo"></div>
                <div class="label">Changer de billet</div>
            </div>
            <div class="icon" @click="openWindow('co2')" v-if="modes.co2">
                <div class="logo"></div>
                <div class="label">Compenser mon CO<sub>2</sub></div>
            </div>
        </div>

        <div class="lockscreen" v-if="isLocked" v-show="!sleep">
            <div class="clara">
                PC de Clara
            </div>
            <div class="locked">
                Session verrouillée
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from "vue-property-decorator";
    import PubSub from '../../controllers/PubSub';
    import conf from '../../config/conf';
    import UIWindow from '@/components/Bedroom/UIWindow.vue'
    import {EventBus} from "@/main"
    import {UIEvents} from "@/events"
    import UIDropdown from '@/components/Bedroom/UIDropdown.vue'
    import destinations, {Destination} from './destinations'
    import UIDestinationListItem from '@/components/Bedroom/UIDestinationListItem.vue'

    type Operations = 'optimisation' | 'co2' | 'avion'
    type Co2Locomotion = 'plane' | 'car' | 'train'

    interface Co2Input {
        from: string | null,
        to: string | null,
        locomotion: Co2Locomotion
    }

    @Component<PC>({
        components: {UIDestinationListItem, UIDropdown, UIWindow}
    })
    export default class PC extends Vue {

        public modes = {
            optimisation: false,
            co2: false,
            avion: false,
            veille: false,
        }

        public ui = {
            optimisation: false,
            co2: false,
            avion: false,
            veille: false
        }

        public currentStep = {
            optimisation: 'initial' as ('initial' | 'pending' | 'done'),
            co2: 'search' as ('search' | 'error' | 'confirmation_compensation' | 'no_compensation' | 'yes_compensation'),
            avion: 'list' as ('list' | 'error' | 'ok')
        }

        public inputs = {
            co2: {
                from: null,
                to: null,
                locomotion: 'plane',
            } as Co2Input
        }

        get isCo2InputValid() {
            return this.inputs.co2.from && this.inputs.co2.to && this.inputs.co2.locomotion
        }

        get destinations() {
            return destinations
        }

        get isLocked() {
            return this.modes.veille || !(this.modes.optimisation ||
                this.modes.co2 ||
                this.modes.avion);
        }

        public mounted(): void {
            PubSub.sub(conf.mqttTopic_PC_mode_activate, (ev) => {
                this.modes[ev.payload] = true;
                this.resetUi()
                console.log(JSON.stringify(this.modes))
            });
            PubSub.sub(conf.mqttTopic_PC_mode_deactivate, (ev) => {
                this.modes[ev.payload] = false;
                this.resetUi()
            });
        }

        public onDestinationSelected(destination: Destination): void {
            if (destination.valid) {
                this.currentStep.avion = 'ok'
                this.success('avion')
                setTimeout(() => {
                    this.closeWindow('avion')
                }, 3000)
            } else {
                this.currentStep.avion = 'error'
            }
        }

        public beforeDestroy(): void {

        }

        public resetUiStates(): void {
            this.currentStep.optimisation = 'initial'
            this.currentStep.avion = 'list'
            this.currentStep.co2 = 'search'
        }

        public resetUi(): void {
            Object.keys(this.ui).forEach(key => {
                this.ui[key] = false
            })
            this.resetUiStates()
        }

        public closeWindow(type: Operations): void {
            this.ui[type] = false
            this.resetUiStates()
        }

        public openWindow(type: Operations): void {
            this.ui[type] = true
        }

        public submitCo2(): void {
            if (this.validateCo2Input(this.inputs.co2)) {
                this.currentStep.co2 = 'confirmation_compensation'
            } else {
                this.currentStep.co2 = 'error'
            }
        }

        private validateCo2Input(input: Co2Input): boolean {
            return input.from === 'Paris' && input.to === 'Vancouver' && input.locomotion === 'plane'
        }

        public installOptim(): void {
            this.currentStep.optimisation = "pending"
            EventBus.$emit(UIEvents.HideWindowCloseButton)
            setTimeout(() => {
                this.currentStep.optimisation = "done"
                EventBus.$emit(UIEvents.ShowWindowCloseButton)
            }, 5000);
            setTimeout(() => {
                this.closeWindow("optimisation")
                this.success("optimisation");
            }, 8000);
        }

        public handleCo2Compensation(answer: 'yes' | 'no'): void {
            if (answer === 'yes') {
                this.currentStep.co2 = 'yes_compensation'
                this.success("co2");
            } else {
                this.currentStep.co2 = 'no_compensation'
                this.failure('co2')
            }
            setTimeout(() => {
                this.closeWindow("co2")
            }, 3000)
        }

        public sleep = false;

        public toogleSleep() {
            this.sleep = !this.sleep;
            if (this.sleep) {
                this.success("veille");
            }
        }

        public onNavigationBack(window: "co2" | "avion"): void {
            switch (window) {
                case 'co2':
                    this.currentStep.co2 = 'search'
                    break;
                case 'avion':
                    this.currentStep.avion = 'list'
                    break;
            }
        }

        public success(mode: "optimisation" | "co2" | "avion" | "veille"): void {
            PubSub.pub(conf.mqttTopic_PC_success, mode)
        }

        public failure(mode: "co2"): void {
            PubSub.pub(conf.mqttTopic_PC_failure, mode)
        }

        // * Envoyé par le backend pour changer l'état global des écrans du PC
        // pc-chambre/mode
        //     "locked"
        //     "optimisation"
        //     "co2"
        //     "avion"
        //     "veille

        // * Envoyé par le front-end pour affirmer la réussite d'un des points
        // pc-chambre/success
        //     "optimisation"
        //     "co2"
        //     "avion"
        //     "veille


    }
</script>

<style scoped lang="scss">
    .pc {

        h3 + h4 {
            margin-top: 0;
        }

        .operation-title {
            margin-top: 0;
        }

        .destination-window {
            & ul.destination-list {
                padding: 0;
                margin: 0;
                list-style: none;

                & > li + li {
                    margin-top: 20px;
                }

                & > li:last-of-type {
                    margin-bottom: 20px;
                }
            }
        }

        .co2-window {
            & .container {
                & .col {
                    display: flex;

                    & + .col {
                        margin-left: 20px;
                    }
                }

                display: flex;
                justify-content: center;
                margin: 0 20px;

                & .ui-dropdown {
                    margin-left: 20px;
                }

                &.actions {
                    justify-content: flex-end;
                    position: absolute;
                    bottom: 20px;
                    right: 0;
                }
            }
        }

        .buttons {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }

        .button {
            color: white;
            padding: 20px 40px;
            background-color: #555;
            border-radius: 20px;
            outline: none;
            border: none;
            font-family: inherit;

            &:disabled, &.disabled {
                opacity: 0.4;
                cursor: not-allowed;
            }

            &:hover {
                cursor: pointer;
                background-color: #888888;
            }
        }

        .progress-bar {
            width: 80%;
            height: 20px;
            background-color: #00000033;
            border-radius: 40px;
            margin: 0 auto;

            .bar {
                border-radius: 40px;
                width: 0%;
                height: 100%;
                background-color: #0400facc;
                animation: fill-bar 5s;
                animation-fill-mode: forwards;
            }
        }

        font-family: 'Montserrat';
        background-color: black;


        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .lockscreen {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            background-image: url('~@/assets/bg/canada.jpg');
            background-size: 100% 100%;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 60px;

            .clara {
                font-weight: 400;
                padding-bottom: 50px;
            }

            .locked {
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                padding-top: 1px;
                padding-bottom: 6px;

                font-weight: 300;
                font-style: italic;
            }

        }

        .sleep {
            position: absolute;
            z-index: 10000;
            font-size: 40px;
            color: white;
            right: 0;
            bottom: 0;
        }

        .desktop {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 20px;
            display: flex;
            flex-direction: row;
            background-image: url('~@/assets/bg/perfume.jpg');
            background-size: 100% 100%;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 50px;

            .icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 50px;
                margin-bottom: 50px;

                .logo {
                    width: 200px;
                    height: 200px;
                    background-color: #00000033;
                    border-radius: 40px;
                    margin: 20px;
                }

                .label {

                }
            }

            .window-holder {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                .window {
                    width: 1200px;
                    height: 700px;
                    background-color: #FFFFFFd4;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #222;

                    .title {
                        font-size: 40px;
                        font-weight: 400;
                        background-color: #FFFFFFd4;
                        width: 100%;
                        padding: 10px 0px;
                    }

                    .content {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 100%;
                    }
                }
            }
        }

        @keyframes fill-bar {
            0% {
                width: 0%;
            }
            100% {
                width: 100%;
            }
        }
    }
</style>
