<template>
    <div class="energy-label-container">
        <img :src="imgSrc" alt="Etiquette énergétique">
    </div>
</template>

<script>
    export default {
        name: 'energy-label-component',
        props: ['imgSrc']
    }
</script>

<style lang="scss" scoped>
    .energy-label-container {
        img {
            max-width: 100vw;
            width: 1080px;
            max-height: 100vh;
            height: 1920px;
            object-fit: contain;
        }
    }
</style>
