<template>
    <div class="liveview">
        <div :class="{overlay:true , scanning:scanning}"></div>
        <canvas class="video jsmpeg" ref="canvasHolder"></canvas>
    </div>
</template>

<script lang="ts">
import { Component, Inject, Model, Prop, Vue, Watch, Provide } from "vue-property-decorator";

@Component({
    components:{}
})

export default class LiveView extends Vue {
    @Prop() wsUrl?:string;

    player:any;

    @Prop() scanning:boolean = false;

    public mounted():void {
        const canvas = this.$refs.canvasHolder;
        if(this.wsUrl) {
            const player = new JSMpeg.Player(this.wsUrl, {
                canvas: canvas,
                onPlay: () => this.onPlay(player),
                onPause: () => this.onPause(player),
                onEnded: () => this.onEnded(player),
                onStalled: () => this.onStalled(player)
            });
        }
    }

    public onPlay(player) {
        // console.log("is playing");
    }

    public onPause(player) {
        // console.log("is paused");
    }

    public onEnded(player) {
        // console.log("is ended");
    }

    public onStalled(player) {
        // console.log("is stalled");
    }

    public beforeDestroy():void {
        
    }

}
</script>

<style scoped lang="scss">
.liveview{
    .overlay {
        z-index: 2;
        opacity: 0.3;
        width: 100%;
        height: 100%;
        right: 320px;
    }
    .scanning {
        position: inherit;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 60px;
            background-image: linear-gradient(to bottom,
                rgba(255, 255, 255, 0) 10%,
                rgba(209, 0, 0, 0.7) 80%,
                rgba(209, 0, 0, 1) 5%,
                rgba(209, 0, 0, 1) 5%,
            );
            animation: scanning 3s ease-out infinite;
            @keyframes scanning {
                100% { transform: translate(0, 480px); }
            }
        }
    }
    .video{
        position: relative;
        z-index: 1;
    }
}
</style>