<template>
    <div class="remotesoundplayer">
    </div>
</template>

<script lang="ts">
import { Component, Inject, Model, Prop, Vue, Watch, Provide } from "vue-property-decorator";
import PubSub from '../../controllers/PubSub';
import Logger from '../../utils/Logger';
import SoundPlayer from '../../config/SoundPlayer';

@Component({
    components:{}
})
export default class RemoteSoundPlayer extends Vue {

    @Prop() topic?:string;
    
    public mounted():void {
        if(this.topic){
            PubSub.sub(this.topic, (ev)=> this.onMessageReceived(ev.payload))
        }
    }

    onMessageReceived(message:string) {
        try {
            SoundPlayer.play(message);
        } catch (error) {
            Logger.error("sound", message, "not found on topic", this.topic, "error: ", error)
        }
    }

    public beforeDestroy():void {
        
    }

}
</script>

<style scoped lang="scss">
.remotesoundplayer{
    
}
</style>