<template>
    <div class="thermostat__drawable__container">
        <div class="thermostat__drawable__illustration">
            <div class="thermostat__drawable__illustration--bar-outer">
                <div class="thermostat__drawable__illustration--bar-inner" :style="{ height: `${barHeight}%`, '--bar-color': currentBarHeatColor}"></div>
            </div>
        </div>
        <div class="thermostat__drawable__controls">
            <span class="arrow plus" @click="increase">
                    <i class="material-icons">add</i>
                </span>
            <div class="heat">{{ this.temperature }}</div>
            <span class="arrow minus" @click="decrease">
                    <i class="material-icons">remove</i>
            </span>
        </div>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from "vue-property-decorator";
    import PubSub from "@/controllers/PubSub";
    import conf from "@/config/conf"

    const heatBarGradientMap = [
        '#6a77e2',
        '#6a77e2',
        '#a18ee2',
        '#cd97e2',
        '#e280a1',
        '#e27588',
        '#e26872',
    ]

    const mapRange = (value: number, inMin: number, inMax: number, outMin: number, outMax: number): number =>
        (value - inMin) * (outMax - outMin) / (inMax - inMin) + outMin

    @Component<ThermostatDrawable>({
        components: {},
        name: "ThermostatDrawable"
    })
    export default class ThermostatDrawable extends Vue {
        @Prop({default: "0"}) universeId!: string;
        public temperature = 25;
        public limit: [number, number] = [15, 27]

        public get barHeatLevel() {
            return Math.floor(mapRange(this.temperature, this.limit[0], this.limit[1], 0, 6))
        }

        public get currentBarHeatColor() {
            return heatBarGradientMap[this.barHeatLevel]
        }

        public get barHeight() {
            return Math.floor(mapRange(this.temperature, this.limit[0], this.limit[1], 0, 100))
        }

        public sendTemperatureToMQTT() {
            PubSub.pub(
                conf.mqttTopic_thermostat_temperature(this.universeId),
                this.temperature.toString()
            );
        }

        public decrease() {
            if (this.temperature > this.limit[0]) {
                this.temperature--;
                this.sendTemperatureToMQTT();
            }
        }

        public increase() {
            if (this.temperature < this.limit[1]) {
                this.temperature++;
                this.sendTemperatureToMQTT();
            }
        }
    }
</script>
<style scoped lang="scss">
    .thermostat__drawable {
        &__container {
            align-items: center;
            display: flex;
            padding: 40px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            background: whitesmoke;
        }

        &__illustration {
            width: 40px;
            height: 300px;
            background: linear-gradient(to bottom, #eaeaea 0%, #d4d4d4 100%);
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.25);
            border-radius: 40px;
            padding: 30px;

            &--bar-outer {
                width: 20px;
                height: 100%;
                background: transparent;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.16);
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                overflow: hidden;
            }

            &--bar-inner {
                --bar-color: #6a77e2;
                transition: all 0.3s ease-in-out;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.36);
                width: 20px;
                background: var(--bar-color);
                margin-top: auto;
            }
        }

        &__controls {
            padding-left: 40px;
            width: 160px;
            & .heat {
                font-size: 72px;
                font-weight: 700;
            }
            & .arrow {
                &:hover,&:active {
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
    }
</style>
