<template>
    <div class="screen video">
        <video :src="videoSrc" autoplay playsinline></video>
    </div>
</template>

<script>
    export default {
        name: 'video-component',
        props: ['videoSrc']
    }
</script>

<style lang="scss" scoped>
    .video {
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
</style>
