<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'app',
        mounted() {
            document.addEventListener('keydown', (e) => {
                if (e.which === 37) this.$router.go(-1);
                if (e.which === 27) this.$router.push('/');
            })
        }
    }
</script>

<style lang="scss">
    @import "./scss/default";
</style>
