<template>
    <div class="action-complete">
        <transition name="fade">
            <div v-if="showMsg">
                <img :src="texts[currentState].imgSrc" />
            </div>
        </transition>
    </div>
</template>

<script>
    import { ACTION_COMPLETE_TEXTS } from '../../../texts/common/chest';

    import PubSub from '../../../controllers/PubSub';
    import conf from '../../../config/conf';

    export default {
        name: 'action-complete',
        props: ['universeId'],
        data() {
            return {
                showMsg: false,
                texts: ACTION_COMPLETE_TEXTS,
                currentState: '0',
            }
        },
        mounted() {
            PubSub.sub(conf.mqttTopic_chest_action_complete(this.universeId), this.onActionComplete);
        },
        methods: {
            onActionComplete(e) {
                this.currentState = e.payload;
                this.showMsg = true;

                setTimeout(() => {
                    this.showMsg = false;
                }, 10000)
            }
        },
    }
</script>

<style lang="scss" scoped>
    .action-complete {
        color: $white;
        padding-top: 130px;
    }
</style>
