<template>
    <div class="screen chest-container">
        <GaugeComponent :universe-id="universeId"/>

        <div class="main">
            <ChronometerComponent :endTimestamp="phaseTimestamp"/>
            <ActionComplete :universe-id="universeId"/>
        </div>

        <transition name="fade">
            <NotificationComponent
                    v-show="showNotification"
                    :universe-id="universeId"
                    @onScanWorking="this.toggleNotification"
            />
        </transition>
    </div>
</template>

<script>
    import GaugeComponent from './GaugeComponent';
    import ChronometerComponent from '../../General/ChronometerComponent';
    import ActionComplete from './ActionComplete';
    import NotificationComponent from './NotificationComponent';
    import { NOTIFICATION_STATES } from '../../../states/chest';
    import PubSub from '../../../controllers/PubSub';
    import conf from '../../../config/conf';

    export default {
        name: 'chest-component',
        props: ['universeId'],
        components: {GaugeComponent, ChronometerComponent, ActionComplete, NotificationComponent},
        data() {
            return {
                showNotification: false,
                phaseTimestamp: 0,
            }
        },
        methods: {
            toggleNotification(value) {
                value === NOTIFICATION_STATES.OFF ? this.showNotification = true : this.showNotification = false;
                console.log(value, this.showNotification);
            }
        },
        mounted() {
            PubSub.sub(conf.mqttTopic_PhaseTimestamp(this.universeId), (ev)=>{
                this.phaseTimestamp = parseInt(ev.payload), console.log(this.phaseTimestamp,parseInt(ev.payload), ev.payload)
            })
        }
    }
</script>

<style lang="scss" scoped>
    .chest-container {
        .main {
            position: relative;
            top: 50%;
            left: 35%;
            width: 30%;
            height: 80vh;
            transform: translateY(-50%);
            mix-blend-mode: lighten;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 25%);
                width: calc(100% + 30vw);
                height: 300px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('~@/assets/components/common/chest/main-after.png');
                filter: blur(2px);
            }
        }
    }
</style>
