<template>
    <div class="gauge-container">
        <div class="current-value" :style="{ top: `${100 - gaugePercent}%` }">{{ currentConsumption }} W/h</div>
        <div class="gauge"></div>
    </div>
</template>

<script>
    import PubSub from '../../../controllers/PubSub';
    import conf from '../../../config/conf';

    export default {
        name: 'gauge-component',
        props: ['universeId'],
        data() {
            return {
                gaugePercent: 100,
                currentConsumption: 25000,
            }
        },
        mounted() {
            PubSub.sub(conf.mqttTopic_chest_gauge(this.universeId), this.onGaugeChange);
        },
        methods: {
            onGaugeChange(e) {
                const splittedPayload = e.payload.split(' ');
                const currentConsumption = splittedPayload[0];
                const totalConsumption = splittedPayload[1];
                this.currentConsumption = currentConsumption;
                this.gaugePercent = currentConsumption * 100 / totalConsumption;
            }
        }
    }
</script>

<style lang="scss" scoped>
    $gauge-width: 100px;
    $gauge-height: 80vh;
    $animation-duration: 1s;

    .gauge-container {
        display: flex;
        align-items: flex-end;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5vw;
        width: $gauge-width;
        height: $gauge-height;

        .current-value {
            $triangle-height: 39px;
            $triangle-width: 20px;
            font-size: 30px;
            color: white;
            position: absolute;
            left: calc(-#{$triangle-width} - 40px);
            transform: translate(-100%, -50%);
            padding: 10px;
            font-weight: bold;
            transition: top $animation-duration ease;

            &::after {
                content: '';
                position: absolute;
                top: 8px;
                right: 0;
                transform: translateX(100%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: $triangle-height / 2 0 $triangle-height / 2 $triangle-width;
                border-color: transparent transparent transparent #ffffff;
            }
        }

        .gauge {
            width: 100%;
            height: 100%;
            transition: height $animation-duration ease;
            border-radius: 40px;
            background: linear-gradient(#291248, #1486c7, #217e51 80%);
            -webkit-box-shadow: 0px 0px 65px 0px rgba(54,189,241,1);
            -moz-box-shadow: 0px 0px 65px 0px rgba(54,189,241,1);
            box-shadow: 0px 0px 65px 0px rgba(54,189,241,1);
        }
    }
</style>
