<template>
    <div class="notification">
        <!-- TODO: Default message or msg sent from MQTT ? -->
        <p>Scan bloqué</p>
    </div>
</template>

<script>
    import PubSub from '../../../controllers/PubSub';
    import conf from '../../../config/conf';

    export default {
        name: 'notification-component',
        props: ['universeId'],
        mounted() {
            PubSub.sub(conf.mqttTopic_chest_scan_working(this.universeId), this.onScanWorking);
        },
        methods: {
            onScanWorking(e) {
                this.$emit('onScanWorking', e.payload)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .notification {
        position: absolute;
        bottom: 10%;
        left: 5vw;
        color: $white;
    }
</style>
