<template>
    <div class="screen flex-center unlock">
        <div class="unlock-bg">
            <img
                class="left-door"
                :class="{ 'left-door__opened': currentState === states.ON}"
                src="../../../assets/components/common/chest/left-door.png"
                alt="Left Door"
            >
            <img
                class="right-door"
                :class="{ 'right-door__opened': currentState === states.ON }"
                src="../../../assets/components/common/chest/right-door.png"
                alt="Right Door">
        </div>

        <div class="unlock-btn" :class="{ 'unlock-btn__opened': currentState === states.ON }" @click="unlockChest">
            <div class="bg bg-1"></div>
            <div class="bg bg-2"></div>
            <p class="text">{{ texts.unlock }}</p>
        </div>
    </div>
</template>

<script>
    import PubSub from '../../../controllers/PubSub';
    import conf from '../../../config/conf';
    import { UNLOCK_STATES } from '../../../states/chest';
    import { UNLOCK_TEXTS } from '../../../texts/common/chest/';

    export default {
        name: 'unlock-component',
        props: ['universeId'],
        data() {
            return {
                states: UNLOCK_STATES,
                currentState: UNLOCK_STATES.LOCKED,
                texts: UNLOCK_TEXTS,
                timeout: 450,
            }
        },
        methods: {
            unlockChest() {
                PubSub.pub(conf.mqttTopic_chest_lock_click(this.universeId), '');
                this.currentState = this.states.ON;

                setTimeout(() => {
                    this.$emit('unlocked', this.currentState)
                }, this.timeout)
            }
        }
    }
</script>

<style lang="scss" scoped>
    $size: 500px;

    .unlock {
        &-bg {
            .left-door,
            .right-door {
                position: absolute;
                top: 0;
                width: 56.2vw;
                height: 100%;
                transition: transform .45s ease;
            }

            .left-door {
                left: -4%;

                &__opened {
                    transform: translateX(-100%);
                }
            }

            .right-door {
                right: -4%;

                &__opened {
                    transform: translateX(100%);
                }
            }
        }

        &-btn {
            position: relative;
            font-size: $title-l;
            font-weight: bold;
            transition: transform .45s ease;

            &__opened {
                transform: translateX(calc(100% + 50vw));
            }

            .bg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: $size;
                height: $size;
                background-size: 100% 100%;
            }

            .bg-1 {
                animation: rotation 6s infinite linear;
                background-image: url('~@/assets/components/Btn_sci-fi button04_h.png');
            }

            .bg-2{
                background-image: url('~@/assets/components/Btn_sci-fi button03_n.png');
                animation: anitrotation 10s infinite linear;
            }

            .text {
                z-index: 1;
                position: relative;
                display: block;
                max-width: $size * 0.5;
                color: $white;
                text-transform: uppercase;
            }
        }

        @keyframes rotation {
            from {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            to {
                transform: translate(-50%, -50%) rotate(359deg);
            }
        }

        @keyframes anitrotation {
            from {
                transform: translate(-50%, -50%) rotate(359deg);
            }
            to {
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
    }
</style>
